/* Reset de estilos para quitar márgenes y rellenos predeterminados */
body, form, h2, label, input, button, a {
    margin: 0;
    padding: 0;
}

/* Estilos generales para el formulario */
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}




.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-secondary {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ccc;
    color: #333;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    margin-left: 10px;
}

/* Estilos adicionales según tus preferencias */

/* Estilo de fondo para el cuerpo */
body {
    background-color: #f9f9f9;
}

/* Estilo para los vínculos */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

